---
title: lipu tomo pi lipu nimi
---
<div class="mdc-layout-grid">
	<div class="mdc-layout-grid__inner">
		{% for nimi in site.nimi %}
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
				<div class="mdc-card mdc-card--outlined" style="padding: 16px">
					<h1 class="mdc-typography--headline4">{{ nimi.title }}</h1>
					{% if noun in nimi %}<span><strong>Noun:</strong>{% for noun in nimi %} {{ noun }}.{% endfor %}</span>{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
</div>
